# Node modules (ignored globally)
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
build/
**/build/

# Local Environment files
.env
.env.*
!.env.example
**/.env
**/.env.*

# JSON Database / Local Persistent data
backend/data/*.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# System/Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel


# SecretGuard
.secretguard/
